
* {
  outline: none;
}

html {
  color: #E47A24;
  font-size: 1em;
  line-height: 1.4;
  font-family: arial;
  background: black;
}

section#main {
  background: #3B352C;
  width: 50%;
  min-width: 920px;
  position: absolute;
  top: 5%;
  left: 25%;
  padding: 10px;
  margin-left: -7px;
  border: 3px solid #9B321F;
  border-radius: 10px;
}

#help {
  float: right;
  margin: -13px -13px 0 0;
  padding: 0;
  font-weight: bold;
}

#help a {
  display: block;
  padding: 5px 8px 3px 6px;
  margin: 3px 3px 0 0;
  border: 3px solid #9B321F;
  border-right: none;
  border-top: none;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background: #E47A24;
  color: #9B321F;
}

#helpwindow {
  display: none;
  position: fixed;
  z-index: 999;
  min-height: 75.8%;
  background: rgba(0,0,0,0.95);
  width: 49.2%;
  min-width: 920px;
  top: 5%;
  left: 25%;
  padding: 10px 10px 10px 25px;
  margin-left: -7px;
  border: 3px solid #9B321F;
  border-radius: 10px;
}

#helpwindow h2 {
  text-align: center;
}

.warning {
  font-weight: bold;
  color: red;
  text-align: center;
}

table {
}

table th {
  font-weight: bold;
  background: #9B321F;
  padding: 3px;
}

table td {
  padding: 2px 3px 0px 0;
}

#logo {
  margin-top: 25px;
  margin-bottom: 25px;
}

#clear {
  margin-top: 0px;
}

textarea#input {
  float: left;
  margin-right: 10px;
  width: 75%;
  min-height: 295px;
  color: #E47A24;
  resize: none;
}

label#volume {
  float: right;
}

h1 {
  text-align: center;
  color: #E47A24;
  width: 99.5%;
  border: 3px solid #9B321F;
  border-radius: 10px;
  background: #403F2D;
  cursor: default;
  letter-spacing: 0.25em;
}

h3 {
  color: #9B321F;
  margin-bottom: 0;
}

p {margin-top: 0}

.slider {
  float: right;
  width: 20%;
  cursor: pointer;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#dictionary {
  float: left;
  height: 175px;
  overflow-x: scroll;
  overflow-x: hidden;
  background: #ddd;
  color: #E47A24;
  border: 3px solid #E47A24;
  border-radius: 10px;
  padding: 5px;
  cursor: default;
}

fieldset, legend {
  border: 3px solid #9B321F;
  border-radius: 10px;
  padding: 10px;
  background: #403F2D;
}

fieldset#speaker {
  min-width: 17.1%;
  float: right;
  margin-top: 15px;
}

fieldset span {
  cursor: pointer;
  margin-right: 20px;
}

fieldset span.radio {
  width: 47px;
  float: left;
}

legend {
  font-weight: bold;
  background: #E47A24;
  color: #9B321F;
  padding: 0;
}

textarea {
  border: 3px solid #9B321F;
  border-radius: 10px;
  color: #333;
  margin-bottom: 10px;
  min-height: 250px;
  padding: 5px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #E47A24;
}

a:hover {
  color: #9B321F;
}

button {
  font-weight: bold;
  font-size: 2em;
  height: 47px;
  width: 20%;
  float: right;
  background: #E47A24;
  border: 3px solid #9B321F;
  border-radius: 10px;
  color: #9B321F;
  margin-bottom: 20px;
  cursor: pointer;
}

button#stop {
  display: none;
}

input[type=radio] {
  cursor: pointer;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding: 10px;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  padding: 5px;
  background-color: #403F2D;
  border: 3px solid #9B321F;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#quicklinks {
  width: 75%;
  margin:auto;
  margin-top:-23px;
  margin-bottom: 8px
}

#quicklinks a {
  color: #E47A24;
  background: #ddd;
  padding: 2px;
  border: 2px solid #E47A24;
}

a.first {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

a.last {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#quicklinks a:hover {
  color: #9B321F;
  background: #E47A24;
}

.ui-autocomplete {
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;   
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-helper-hidden-accessible {
  display: none;  
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
